export AWS_ACCESS_KEY=TestData
export AWS_SECRET_ACCESS_KEY=TestData
export AWS_DEFAULT_REGION=TestData
export TF_VAR_UBUNTU_AMI_ID=ami-052efd3df9dad4825
export TF_VAR_CENTOS_AMI_ID=ami-00e87074e52e6c9f9
